###############################################################################
# Common Environment
###############################################################################

LOG_LEVEL='INFO'
BASE_DOMAIN='domain.com'
