###############################################################################
# General configuration
###############################################################################

PROJECT_ID='project_id'
IMAGE="gcr.io/$PROJECT_ID/base_service_js:rcadns"
PREFIX='prefix'
BASE_DOMAIN='domain.com'
WAIT_SECONDS=60
